body {
    overflow: scroll;
}

#planeMap {
    height: 90%;
}

#infoDiv {
    min-width: 100%;
    overflow: scroll;
}

.infoText {
    padding: 4px;
    min-width: 150px;
    background-color: black;
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
    opacity: 0;
}

.infoText a {
    color: blanchedalmond;
}

.infoPanel:hover .infoText, .infoText:hover {
    opacity: 1;
}